<div class="container" >
  <h4>{{allCars.id}}. Single car:</h4>
        <table class="table table-hover table-dark" >
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <th scope="row">{{allCars.id}}</th>
                <td>{{allCars.make}}</td>
                <td>{{allCars.model}}</td>
              </tr>
            </tbody>
          </table>
</div>
